<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <title>Super Coloring Page Maker!</title>
      <link rel='stylesheet' href='css/main.css'>
      <script defer type='text/javascript' src='lib/main.js'></script>
  </head>
  <body>
    <section class='section columns' id='header'>
      <a href='/'>
        <img class='logo' src='images/super-heckin-logo.png'>
      </a>
      <div class='container column'>
        <a href='/gallery' class='is-primary button'>Gallery</a>
        <a href='/about' class='is-danger button'>About</a>
      </div>
    </section>

    <section class='section' id='about-main'>
      <div class='container'>
        <div>
          <h1 class='title is-2'>What is the Super Coloring Page Maker?</h1>
          <h2 class='subtitle'>Tl;dr: An interactive random coloring page generator!</h2>

          <h3 class='title is-3'>Intention</h3>
          <p>
            Super Coloring Page Maker! is designed to generate random assortments of shapes and patterns, so that anyone can have a canvas to color when the mood strikes! It's also a personal project that started simply, and has plenty of room for growth, so I can tinker on it over time!
          </p>
          <h4 class='title is-3'>Inspiration</h4>
          <p>
            The idea came to me during the Covid-19 shelter-in-place. While <strong>I</strong> have plenty of coloring books to color me happy, I know others do not, and that's a tragedy. I wanted to create a simple coloring page generator so that anyone with access to a printer or a tablet would have a place to start their coloring journey!
          </p>

          <h1 class='title is-2'>y tho?</h1>
          <h2 class='subtitle'>Really, though, who <strong>prints</strong> things anymore?</h2>
  
          <h4 class='title is-4'>Well because coloring is heckin' delightful!</h4>
          <p>If that isn't enough for you, read on!</p>


          <h4 class="title is-4">Crayons are basically 🖍️🔮Mid-Pandemic Anti-Mania Magic Wands🔮🖍️</h4>
          <p>
            If you missed the last train 🚂 to Hogwarts 🏰, and now you're sheltering in place somewhere way less awesome 🏠, coloring can bring some magic into your living room. No owl pellets, either, so I think it's a win. 🦉
          </p>

          <h4 class='title is-4'>Coloring can help you come up with creative solutions!</h4>
          <p>
            Have you ever found the solution to a problem while you were doing the dishes? Maybe while taking a shower? Driving? Coloring is an activity that can trigger one's imagination.
          </p>

          <h4 class='title is-4'>Coloring is known to relieve stress!</h4>
          <p>
            <strong>I know this, and therefore it is known.</strong> 🙃
            <br /> Really, though, if you haven't colored since you were a child (or, <em>*gasp*</em>, ever), maybe you haven't considered it as a viable way to experience play. I'm a passionate play advocate, and have found that coloring is one of the best ways to ease my mind when it's racing. Also...
          </p>

        </div>
      </div>
    </section>

  </body>
</html>