<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <title>Super Coloring Page Maker!</title>
      <link rel='stylesheet' href='css/main.css'>
      <script defer type='text/javascript' src='lib/popop.js'></script>
  </head>
  <body>
    <!--  --== NAV ==-- -->
    <section id='nav'>
      <a href='/' id='logo'>
        <img src='images/super-heckin-logo.png'>
      </a>
      <nav id='nav-buttons'>
        <a href='/' class='nav-button'>Make Your Own!</a>
        <a href='/gallery' class='nav-button'>Gallery</a>
      </nav>
    </section>

    <section class='section' id='about-main'>
      <div class='container'>
        <div>
          <h1 class='title is-1'>What is the Super Coloring Page Maker?</h1>
          <h2 class='subtitle'>Tl;dr: An interactive random coloring page generator!</h2>

          <h1 class='title is-2'>y tho?</h1>
          <h2 class='subtitle'>Really, though, who <strong>prints</strong> things anymore?</h2>
  
          <h4 class='title is-4'>Well because coloring is heckin' delightful!</h4>
          <p>If that isn't enough for you, read on!</p>


          <h4 class="title is-4">Crayons are basically 🖍️🔮Mid-Pandemic Anti-Mania Magic Wands🔮🖍️</h4>
          <p>
            If you missed the last train 🚂 to Hogwarts 🏰, and now you're sheltering in place somewhere way less awesome 🏠, coloring can bring some magic into your living room. No owl pellets, either, so I think it's a win. 🦉
          </p>

          <h4 class='title is-4'>Coloring can help you come up with creative solutions!</h4>
          <p>
            Have you ever found the solution to a problem while you were doing the dishes? Maybe while taking a shower? Driving? Coloring is an activity that can trigger one's imagination.
          </p>

          <h4 class='title is-4'>Coloring is known to relieve stress!</h4>
          <p>
            <strong>I know this, and therefore it is known.</strong> 🙃
            <br /> Really, though, if you haven't colored since you were a child (or, <em>*gasp*</em>, ever), maybe you haven't considered it as a viable way to experience play. I'm a passionate play advocate, and have found that coloring is one of the best ways to ease my mind when it's racing. Also...
          </p>

        </div>
      </div>
    </section>

  </body>
</html>