<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Super Coloring Page Maker!</title>
    <link rel='stylesheet' href='/css/main.css'>
    <script defer type='text/javascript' src='/lib/gallery.js'></script>
  </head>
  <body>

    <!--  --== NAV ==-- -->
    <section id='nav'>
      <a href='/' id='logo'>
        <img src='images/super-heckin-logo.png'>
      </a>
      <nav id='nav-buttons'>
        <a href='/' class='nav-button'>Make Your Own!</a>
        <a href='/about' class='nav-button'>About</a>
      </nav>
    </section>

  <!-- --== GRID ==-- -->
  <section class='section'>
    <div class='container has-text-centered'>
      <h2 class='title'>Community Gallery</h2>
      <h5 class="subtitle">Most recent submissions are at the end!</h5>
      <div class='container has-text-centered' id='gallery-grid'>
        <!-- -= Artwork Spawn Point =- -->
      </div>
    </div>
  </section>

  </body>
</html>