<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Super Coloring Page Maker!</title>
    <link rel='stylesheet' href='css/main.css'>
    <script defer type='text/javascript' src='lib/main.js'></script>
  </head>
  <body>
    <!--  --== NAV ==-- -->
    <section id='nav'>
      <a href='/' id='logo'>
        <img src='images/super-heckin-logo.png'>
      </a>
      <nav id='nav-buttons'>
        <a href='/gallery' class='nav-button'>Gallery</a>
        <a href='/about' class='nav-button'>About</a>
      </nav>
    </section>

    <!-- --== CANVAS ==-- -->
    <section id='artboard'>
      <div class='columns'>

        <!-- --== CANVAS SIDE ==-- -->
        <div class='column has-text-centered'>
          <h2>Canvas</h2>
          <div class='canvas'>
            <!-- Wonderful Shapes Render Here! -->
          </div>
        </div>

        <!-- --== SIDEBAR ==-- -->
        <div class="column">

          <!-- -= CONTROLS =- -->
          <div id='control-panel' class='has-text-centered'>
            <h4>Controls</h4>

            <form id='canvas-form'>

              <div>
                <h5>How many shapes would you like?</h5>
                <input id='num-shapes' class='input' type='number' name='numShapes' max='10000' value='25'>
              </div>

              <div>
                <h5>Which shape?</h5>
                <div class='control has-text-centered'>

                  <div class="radio-block">
                    <input id='rectangleOpt' type='radio' name='shape' value='rectangle'>
                    <label for='rectangleOpt' class='radio'>Rectangles</label>
                  </div>
                  
                  <div class="radio-block">
                    <input id='squareOpt' type='radio' name='shape' value='square'>
                    <label for='squareOpt' class='radio'>Squares</label>
                  </div>
                  
                  <div class="radio-block">
                    <input id='ovalOpt' type='radio' name='shape' value='oval'>
                    <label for='ovalOpt' class='radio'>Ovals</label>
                  </div>
                  
                  <div class="radio-block">
                    <input id='circleOpt' type='radio' name='shape' value='circle'>
                    <label for='circleOpt' class='radio'>Circles</label>
                  </div>

                </div>
              </div>

              <button href='#!' id='create-btn' class='ctrl-btn' type='submit'>Create!</button>
            </form>
            <div class='container'>
              <a href='#!' id='collection-btn' class='ctrl-btn'>Add to Collection!</a>
              <a href='javascript:window.print();' id='print-btn' class='ctrl-btn'>Print!</a>
            </div>
          </div>

          <!-- -= HELP MENU =- -->
        
          </div>
        </div>
      </div>

    </section>

  </body>
</html>