<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Super Coloring Page Maker!</title>
    <link rel='stylesheet' href='css/main.css'>
    <script defer type='text/javascript' src='lib/main.js'></script>
  </head>
  <body>
    <section class='section columns' id='header'>
        <!-- Logo - Convert to Image -->
      <div class='placeholder-logo column'></div>
      <div class='container column'>
        <button class='is-primary button'>Gallery</button>
        <button class='is-info button'>About</button>
      </div>
    </section>

    <section class='container'>
      <div class='columns'>
        <div class='column'>
          <div class='canvas'></div>
        </div>
      </div>
    </section>

  </body>
</html>