@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
@import "./popop.scss";

// ------------------------------------ GLOBAL
// body {
//   background: rgb(255,0,140);
//   background: -moz-linear-gradient(211deg, rgba(255,0,140,1) 0%, rgba(255,194,139,1) 28%, rgba(209,255,129,1) 50%, rgba(46,255,223,1) 75%, rgba(113,136,255,1) 100%);
//   background: -webkit-linear-gradient(211deg, rgba(255,0,140,1) 0%, rgba(255,194,139,1) 28%, rgba(209,255,129,1) 50%, rgba(46,255,223,1) 75%, rgba(113,136,255,1) 100%);
//   background: linear-gradient(211deg, rgba(255,0,140,1) 0%, rgba(255,194,139,1) 28%, rgba(209,255,129,1) 50%, rgba(46,255,223,1) 75%, rgba(113,136,255,1) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff008c",endColorstr="#7188ff",GradientType=1);
// }

.container {
  margin: 0 auto;
  // max-width: 960px;
}

.logo {
  max-width: 25%;
  min-width: 200px;
  height: auto;
}

.canvas, .gallery-item {
  background-color: #fff;
}

.gimmespace {
  margin: 10px;
}

// ----------------------------- BULMA OVERWRITE
.input {
  max-width: 30%;
}

// -------------------------------- PRINT STYLES
@media print {
  .logo, .button, 
  #main-sidebar,
  input, h1, h2, h3, h4, h5, h6 {
    display: none;
  }

  .canvas {
    box-shadow: none !important;
    border: 2px solid #000 !important;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
  }

  #controls-container {
    display: none;
  }
}

// ------------------------------------ CANVAS

.canvas {
  position: relative;
  overflow: hidden;
  // border: 1px solid black;
  width: 625px;
  height: 750px;
  margin: 0 auto;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 -2.5px 10px rgba(0, 0, 0, 0.06),
    0 12.5px 10px rgba(0, 0, 0, 0.06)
}

.shape {
  border: 1px solid black;
  position: absolute;
}

.circle, .oval {
  border-radius: 50%;
}

// ----------------------------------- CONTROLS
.ctrl-btn {
  display: block;
  min-width: 150px;
  max-width: 250px;
  width: 80%;
  height: 70px;
  line-height: 70px;
  border: none;
  border-radius: 10px;
  margin: 10px auto;
  background-color: rgb(243, 57, 132);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  &#create-btn {
    background: linear-gradient(38deg, #00dddf, #aae30090, #e300819f, #7d00e3);
    background-size: 800% 800%;

    -webkit-animation: rainbowRotation 12s ease infinite;
    -moz-animation: rainbowRotation 12s ease infinite;
    animation: rainbowRotation 12s ease infinite;

    @-webkit-keyframes rainbowRotation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes rainbowRotation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes rainbowRotation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
  }
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    border: none;
    color: #fff;
    background: linear-gradient(217deg, #00ffd9, rgb(243, 57, 132));
    background-size: 400% 400%;

    -webkit-animation: PinktoGreen 4s ease infinite;
    -moz-animation: hotPinkToAqua 4s ease infinite;
    animation: hotPinkToAqua 4s ease infinite;

    @-webkit-keyframes hotPinkToAqua {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes hotPinkToAqua {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes hotPinkToAqua {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
  }
}

.radio-block {
  display: block;
}

// ------------------------------------ GALLERY

.gallery-item {
  height: 247.5px;
  width: 206.25px;
  display: inline-block;
  margin: 1.25rem;
  overflow: hidden;
  position: relative;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 -2.5px 10px rgba(0, 0, 0, 0.06),
    0 12.5px 10px rgba(0, 0, 0, 0.06);
  // border: 2px solid black;
}


#gal-01 {
  border: rgb(224, 70, 131);
}
#gal-02 {
  border: rgb(217, 224, 70);
}
#gal-03 {
  border: rgb(168, 224, 70);
}
#gal-04 {
  border: aquamarine;
}
#gal-05 {
  border: lightsteelblue;
}
#gal-06 {
  border: lightcoral;
}
#gal-07 {
  border: purple;
}