@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

// ------------------------------------ GLOBAL
.container {
  margin: 0 auto;
  max-width: 960px;
}

.logo {
  max-width: 25%;
  min-width: 200px;
  height: auto;
}

@media print {
  .logo, .button, 
  #controls-container,
  #help-menu,
  input, h1, h2, h3, h4, h5, h6 {
    display: none;
  }

  .canvas {
    box-shadow: none !important;
    border: 2px solid #000 !important;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
  }

  #controls-container {
    display: none;
  }
  #gal-01 {
  border: 1px solid red;
}
  .gal-02 {
    border: 1px solid rgb(217, 224, 70);
  }
  .gal-03 {
    border: 1px solid rgb(168, 224, 70);
  }
  .gal-04 {
    border: 1px solid aquamarine;
  }
  .gal-05 {
    border: 1px solid lightsteelblue;
  }
  .gal-06 {
    border: 1px solid lightcoral;
  }
  .gal-07 {
    border: 1px solid purple;
  }
}

// ------------------------------------ CANVAS

.canvas {
  position: relative;
  overflow: hidden;
  // border: 1px solid black;
  width: 625px;
  height: 750px;
  margin: 0 auto;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 -2.5px 10px rgba(0, 0, 0, 0.06),
    0 12.5px 10px rgba(0, 0, 0, 0.06)
}

.shape {
  border: 1px solid black;
  position: absolute;
}

.circle, .oval {
  border-radius: 50%;
}

// ------------------------------------ GALLERY

.gallery-item {
  height: 247.5px;
  width: 206.25px;
  display: inline-block;
  margin: 1.25rem;
  overflow: hidden;
  position: relative;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 -2.5px 10px rgba(0, 0, 0, 0.06),
    0 12.5px 10px rgba(0, 0, 0, 0.06)
}


#gal-01 {
  border: rgb(224, 70, 131);
}
#gal-02 {
  border: rgb(217, 224, 70);
}
#gal-03 {
  border: rgb(168, 224, 70);
}
#gal-04 {
  border: aquamarine;
}
#gal-05 {
  border: lightsteelblue;
}
#gal-06 {
  border: lightcoral;
}
#gal-07 {
  border: purple;
}

// ---------------------------------POPOP MODALS
// -- Original created by @catcarbn ♡
// -- https://catcarbonell.github.io/popop/

/* === MODAL === */
.popop-modal {
  visibility: hidden;
  flex-direction: column;
  opacity: 0;
  z-index: 999;
  width: 50%;
  height: 75%;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 7px 7px rgba(54,54,54, 0.5);
  position: absolute;
  margin: auto;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  transition: 0.2s ease-in-out all;
}
.popop-content{
  overflow: auto;
  height: 90%;
  padding: 10px
}
.popop-fixed {
  position: fixed;
  height: 30px;
  padding-top: 10px;
}
/* === VISIBILITY === */
.popop-show{
 visibility: visible;
 opacity: 1;
}